<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Cơ sở y tế</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>flutter_base_architecture</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(MARKETING_VERSION)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>app-1-924349119519-ios-5054a659ee0973e505e92a</string>
				</array>
			</dict>
		</array>
		<key>CFBundleVersion</key>
		<string>$(CURRENT_PROJECT_VERSION)</string>
		<key>FirebaseAppDelegateProxyEnabled</key>
		<false/>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>itms-beta</string>
			<string>itms</string>
			<string>https</string>
			<string>http</string>
			<string>googlegmail</string>
			<string>x-dispatch</string>
			<string>readdle-spark</string>
			<string>airmail</string>
			<string>ms-outlook</string>
			<string>ymail</string>
			<string>fastmail</string>
			<string>superhuman</string>
			<string>smartvillage</string>
		</array>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<true/>
			<key>NSAllowsArbitraryLoadsInWebContent</key>
			<true/>
		</dict>
		<key>NSCameraUsageDescription</key>
		<string>Ứng dụng này cần truy cập camera để sử dụng hình ảnh hoặc QR Code</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>Ứng dụng cần quyền truy vị trí của bạn để lấy địa chỉ cho việc lấy nhiệt độ.</string>
		<key>NSLocationAlwaysUsageDescription</key>
		<string>Ứng dụng cần quyền truy vị trí của bạn để lấy địa chỉ cho việc lấy nhiệt độ.</string>
		<key>NSLocationUsageDescription</key>
		<string>Cần quyền truy cập vị trí để gửi phản ánh</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>Ứng dụng cần quyền truy vị trí của bạn để lấy địa chỉ cho việc lấy nhiệt độ.</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>Cần quyền truy cập micrô để tải video lên để đăng phản ánh</string>
		<key>NSPhotoLibraryAddUsageDescription</key>
		<string>Ứng dụng cần quyền truy cập vào thư mục ảnh của bạn để đăng phản ánh</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>Ứng dụng cần quyền truy cập vào thư mục ảnh của bạn để thay đổi ảnh đại diện của bạn</string>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UIBackgroundModes</key>
		<array>
			<string>fetch</string>
			<string>remote-notification</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UIRequiresFullScreen</key>
		<true/>
		<key>UIStatusBarHidden</key>
		<false/>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
		<key>io.flutter.embedded_views_preview</key>
		<true/>
		<key>keychain-access-groups</key>
		<array/>
	</dict>
</plist>