<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>flutter_base_architecture.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>buildNumber</key>
			<string>11</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F3D8E163E3D4185BBDBDEC7641295CD46334E98F</string>
				<key>dateExpires</key>
				<string>29/04/2023</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>11</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3D8E163E3D4185BBDBDEC7641295CD46334E98F</string>
						<key>dateExpires</key>
						<string>29/04/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NCL63XH477</string>
						<key>name</key>
						<string>Bui Tuan Dung</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>11</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3D8E163E3D4185BBDBDEC7641295CD46334E98F</string>
						<key>dateExpires</key>
						<string>29/04/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NCL63XH477</string>
						<key>name</key>
						<string>Bui Tuan Dung</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>11</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3D8E163E3D4185BBDBDEC7641295CD46334E98F</string>
						<key>dateExpires</key>
						<string>29/04/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NCL63XH477</string>
						<key>name</key>
						<string>Bui Tuan Dung</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>11</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3D8E163E3D4185BBDBDEC7641295CD46334E98F</string>
						<key>dateExpires</key>
						<string>29/04/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NCL63XH477</string>
						<key>name</key>
						<string>Bui Tuan Dung</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>11</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3D8E163E3D4185BBDBDEC7641295CD46334E98F</string>
						<key>dateExpires</key>
						<string>29/04/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NCL63XH477</string>
						<key>name</key>
						<string>Bui Tuan Dung</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>11</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3D8E163E3D4185BBDBDEC7641295CD46334E98F</string>
						<key>dateExpires</key>
						<string>29/04/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NCL63XH477</string>
						<key>name</key>
						<string>Bui Tuan Dung</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>11</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3D8E163E3D4185BBDBDEC7641295CD46334E98F</string>
						<key>dateExpires</key>
						<string>29/04/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NCL63XH477</string>
						<key>name</key>
						<string>Bui Tuan Dung</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>11</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3D8E163E3D4185BBDBDEC7641295CD46334E98F</string>
						<key>dateExpires</key>
						<string>29/04/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NCL63XH477</string>
						<key>name</key>
						<string>Bui Tuan Dung</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>11</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3D8E163E3D4185BBDBDEC7641295CD46334E98F</string>
						<key>dateExpires</key>
						<string>29/04/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NCL63XH477</string>
						<key>name</key>
						<string>Bui Tuan Dung</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>11</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3D8E163E3D4185BBDBDEC7641295CD46334E98F</string>
						<key>dateExpires</key>
						<string>29/04/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NCL63XH477</string>
						<key>name</key>
						<string>Bui Tuan Dung</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>11</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3D8E163E3D4185BBDBDEC7641295CD46334E98F</string>
						<key>dateExpires</key>
						<string>29/04/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MTBBarcodeScanner.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NCL63XH477</string>
						<key>name</key>
						<string>Bui Tuan Dung</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>11</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3D8E163E3D4185BBDBDEC7641295CD46334E98F</string>
						<key>dateExpires</key>
						<string>29/04/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OrderedSet.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NCL63XH477</string>
						<key>name</key>
						<string>Bui Tuan Dung</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>11</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3D8E163E3D4185BBDBDEC7641295CD46334E98F</string>
						<key>dateExpires</key>
						<string>29/04/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NCL63XH477</string>
						<key>name</key>
						<string>Bui Tuan Dung</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>11</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3D8E163E3D4185BBDBDEC7641295CD46334E98F</string>
						<key>dateExpires</key>
						<string>29/04/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_app_badger.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NCL63XH477</string>
						<key>name</key>
						<string>Bui Tuan Dung</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>11</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3D8E163E3D4185BBDBDEC7641295CD46334E98F</string>
						<key>dateExpires</key>
						<string>29/04/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_inappwebview.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NCL63XH477</string>
						<key>name</key>
						<string>Bui Tuan Dung</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>11</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3D8E163E3D4185BBDBDEC7641295CD46334E98F</string>
						<key>dateExpires</key>
						<string>29/04/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NCL63XH477</string>
						<key>name</key>
						<string>Bui Tuan Dung</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>11</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3D8E163E3D4185BBDBDEC7641295CD46334E98F</string>
						<key>dateExpires</key>
						<string>29/04/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NCL63XH477</string>
						<key>name</key>
						<string>Bui Tuan Dung</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>11</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3D8E163E3D4185BBDBDEC7641295CD46334E98F</string>
						<key>dateExpires</key>
						<string>29/04/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NCL63XH477</string>
						<key>name</key>
						<string>Bui Tuan Dung</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>11</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3D8E163E3D4185BBDBDEC7641295CD46334E98F</string>
						<key>dateExpires</key>
						<string>29/04/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>launch_review.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NCL63XH477</string>
						<key>name</key>
						<string>Bui Tuan Dung</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>11</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3D8E163E3D4185BBDBDEC7641295CD46334E98F</string>
						<key>dateExpires</key>
						<string>29/04/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>location.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NCL63XH477</string>
						<key>name</key>
						<string>Bui Tuan Dung</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>11</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3D8E163E3D4185BBDBDEC7641295CD46334E98F</string>
						<key>dateExpires</key>
						<string>29/04/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NCL63XH477</string>
						<key>name</key>
						<string>Bui Tuan Dung</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>11</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3D8E163E3D4185BBDBDEC7641295CD46334E98F</string>
						<key>dateExpires</key>
						<string>29/04/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>package_info.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NCL63XH477</string>
						<key>name</key>
						<string>Bui Tuan Dung</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>11</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3D8E163E3D4185BBDBDEC7641295CD46334E98F</string>
						<key>dateExpires</key>
						<string>29/04/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_ios.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NCL63XH477</string>
						<key>name</key>
						<string>Bui Tuan Dung</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>11</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3D8E163E3D4185BBDBDEC7641295CD46334E98F</string>
						<key>dateExpires</key>
						<string>29/04/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>qr_code_scanner.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NCL63XH477</string>
						<key>name</key>
						<string>Bui Tuan Dung</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>11</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3D8E163E3D4185BBDBDEC7641295CD46334E98F</string>
						<key>dateExpires</key>
						<string>29/04/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>share.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NCL63XH477</string>
						<key>name</key>
						<string>Bui Tuan Dung</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>11</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3D8E163E3D4185BBDBDEC7641295CD46334E98F</string>
						<key>dateExpires</key>
						<string>29/04/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_ios.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NCL63XH477</string>
						<key>name</key>
						<string>Bui Tuan Dung</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>11</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3D8E163E3D4185BBDBDEC7641295CD46334E98F</string>
						<key>dateExpires</key>
						<string>29/04/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NCL63XH477</string>
						<key>name</key>
						<string>Bui Tuan Dung</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>11</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3D8E163E3D4185BBDBDEC7641295CD46334E98F</string>
						<key>dateExpires</key>
						<string>29/04/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>uni_links.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NCL63XH477</string>
						<key>name</key>
						<string>Bui Tuan Dung</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>11</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3D8E163E3D4185BBDBDEC7641295CD46334E98F</string>
						<key>dateExpires</key>
						<string>29/04/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NCL63XH477</string>
						<key>name</key>
						<string>Bui Tuan Dung</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>11</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3D8E163E3D4185BBDBDEC7641295CD46334E98F</string>
						<key>dateExpires</key>
						<string>29/04/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>vibration.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NCL63XH477</string>
						<key>name</key>
						<string>Bui Tuan Dung</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>11</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3D8E163E3D4185BBDBDEC7641295CD46334E98F</string>
						<key>dateExpires</key>
						<string>29/04/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>webview_flutter_wkwebview.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NCL63XH477</string>
						<key>name</key>
						<string>Bui Tuan Dung</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>11</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3D8E163E3D4185BBDBDEC7641295CD46334E98F</string>
						<key>dateExpires</key>
						<string>29/04/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>NCL63XH477.com.nongnghiepso.medicalfacility.ImageNotification</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>NCL63XH477</string>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>ImageNotification.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>a6851774-6a91-4796-98e0-6cc02d6d4317</string>
						<key>dateExpires</key>
						<string>29/04/2023</string>
						<key>name</key>
						<string>iOS Team Store Provisioning Profile: com.nongnghiepso.medicalfacility.ImageNotification</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NCL63XH477</string>
						<key>name</key>
						<string>Bui Tuan Dung</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>NCL63XH477.com.nongnghiepso.medicalfacility</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:app.htx.marveltek.dev</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>NCL63XH477</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>69592225-3d87-4c00-ab4e-a551966ce191</string>
				<key>dateExpires</key>
				<string>29/04/2023</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.nongnghiepso.medicalfacility</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>NCL63XH477</string>
				<key>name</key>
				<string>Bui Tuan Dung</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.5</string>
		</dict>
	</array>
</dict>
</plist>
